/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
html {
  margin:  0;
  padding: 0;
  /* overflow: hidden; */
  display: flex;
}

#banner {
  margin: 0;
  padding: 0;
  text-align: center;
  border-bottom: 4px solid black;
}

#banner img {
  width: 100%;
  height: fit-content;
  padding: 0;

}

#notice {
  background-color: white;
  color: red;
  border: 2px solid red;
  text-align: center;
}

#columns {
  display: flex;
  flex-direction: row;
  background-color: whitesmoke;
  /* #main_content {
    margin: 0;
  } */
}

#columns #sidebar{
  /* float: left; */
  width: 20%;
  background-color: rosybrown;
}

#columns #main_content{
  /* width: 70% */
  background-color: whitesmoke;
  
}